@model SmartEmployment.DataAccess.Model.Role

<h1>Create a new Role</h1>
<p>Enter a role name:</p>

<form method="post">
    Name:
    <input asp-for="@Model.Name" />
    <input type="submit" />
</form>